<div class="mat-toolbar mat-ws-mat-primary-text footer-container px-6 sm:px-10 py-1-5">
  <div class="flex w-full items-center mat-body justify-end">
    <ng-container> <span> &copy; Copyright 2024 - 2025</span>
      <!-- &nbsp;&nbsp; | &nbsp;&nbsp;
      <a routerLink="/app/home/about"
        <span About Us</span>
      </a>
      &nbsp;&nbsp; | &nbsp;&nbsp;
      <a routerLink="/app/tnc" Privacy</a>
      &nbsp;&nbsp; | &nbsp;&nbsp;
      <a routerLink="/app/info/faq" Help </a>
      &amp;
      <a routerLink="/public/contact"  Contact</a> -->
    </ng-container>
  </div>
</div>